@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
    margin:0px;
    padding:0px;
    background-color:whitesmoke;
    font-family:'Lato',sans-serif;
}
*{
    box-sizing:border-box;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
.logo img{
    width:150px;
    margin-left:20px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000; /*Diðer öðelerin üzerinde görünmesini saðlar*/
    transition: 0.6s ease-in-out;
    padding: 10px 0; /* Üst ve alt boþluk ekledim */
}
nav ul{
    display:flex;/*menüleri yatay hizada tek sýra olarak oluþturur*/
}
nav ul li a{
    font-family: 'Lato';
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
nav ul li a:hover{
	background-color: #FF1414;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    border-radius:10px;
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
}

.submenu {
    position: absolute;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    display: none;
}
.menu li:hover .submenu {
    display: block;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 120px; /* Navbar ile içerik arasýndaki boþluk azaltýldý */
}
.header-text {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    margin-left:200px;
}
.header-image img {
    height: 500px;
    width:800px;
    flex:1;
    object-fit:contain;/*Resmin bozulmasýný önler*/
}
.header-title {
    font-size: 3.75rem;
    font-family: 'Global User Interface',sans-serif;
    margin-bottom: 2px; /*paragraf ile arasýndaki dýþ boþluk*/
}
.a-title {
    font-size: 3.75rem;
    font-family: 'Global User Interface',sans-serif;
    color:dodgerblue;
}
.h-write{
    font-size:1.75rem;
    color:rgb(103,119,136);
    font-weight:400;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
.btn:hover {
        background-color: dodgerblue;
}
.btn1 {
    width: 150px;
    height: 50px;
    background-color:white;
    color:dodgerblue;
    border: solid 1px dodgerblue;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.btn1:hover {
  background-color: white;
}
.content-text {
    flex:1;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
    margin-top:150px; /* Navbar ile içerik arasýndaki boþluk azaltýldý */
}
.content-title {
    font-size: 3.75rem;
    font-family: 'Global User Interface',sans-serif;
    margin-bottom: 2px; /*paragraf ile arasýndaki dýþ boþluk*/
}
.c-write {
    font-size: 1.75rem;
    color: rgb(103,119,136);
    font-weight: 400;
}
.content-icon{
    display:flex;
   justify-content:center;
   gap:40px;/*ikon öðeleri arasýndaki boþluk*/
}
.icon-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.smileicon {
    color: dodgerblue;
    font-size:2rem;/*ikon boyutu*/
   margin-bottom:10px;/*ikon ile baþlýk arasýndaki boþluk*/
}
h6 {
    font-size: 1.75rem;
    font-family: 'Lato',sans-serif;
    margin: 0px 0px 0.35em;
    line-height: 1.6;
    font-weight: bold; /*yazý kalýnlýðýný belirler*/
}
.iconParagraph{
    color:rgb(30,32,34);
    font-family:'Lato',sans-serif;
    font-weight:400;
    font-size:1.5rem;
    line-height:1.5;/*satýrlar arasý boþluðu ayarlar*/
}
.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family:'Lato',sans-serif;
}
.feature-title{
    font-size:2.750rem;
    margin-bottom:5px;
}
.feature-paragraph{
    font-size:1.750rem;
    line-height:1.6;
    color:rgb(103,119,136);
}
.feature-image{
    border-radius:10px;
    width:50rem;
}
.about{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}
.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px; /* Navbar ile içerik arasýndaki boþluk azaltýldý */
    margin-left:100px;
}
.about-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px; /* Navbar ile içerik arasýndaki boþluk azaltýldý */
    margin-right:80px;
}
.about-image img {
    height:32rem;
    width: 50rem;
    margin-top: 100px; /* Navbar ile içerik arasýndaki boþluk azaltýldý */
}
.about-icon {
    display: flex;
    justify-content: center;
    gap: 40px; /*ikon öðeleri arasýndaki boþluk*/
    color: dodgerblue;
    font-size: 2rem; /*ikon boyutu*/
    margin-bottom: 10px; /*ikon ile baþlýk arasýndaki boþluk*/
}
.about-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1; /*eþit geniþlik için*/
}
.about-title{
    font-size:2rem;
}
.about-paragraph {
    font-size: 1.250rem;
    line-height: 1.6;
    color: rgb(103,119,136);

}
.option{
    margin-top:200px;
}
.option-icon {
    display: flex;
    justify-content: center;
    gap: 40px; /*ikon öðeleri arasýndaki boþluk*/
}
.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:450px;
   border-radius:10px;
   border-color:dimgray;
   margin-left:100px;
   margin-bottom:25px;
}
.option-title {
    font-size: 2rem;
    font-weight:500;
}
.option-paragraph {
    font-size: 1.250rem;
    line-height: 1.6;
    color: rgb(103,119,136);
}
.option-icon2 {
    display: flex;
    justify-content: center;
    gap: 40px; /*ikon öðeleri arasýndaki boþluk*/
}

.icon-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
    border-radius: 10px;
    border-color: dimgray;
    margin-left: 100px;
}
.offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Lato',sans-serif;
    margin-top: 100px;
}
.offer-title {
    font-size: 2.750rem;
    margin-bottom:5px;
}
.offer-paragraph {
    font-size: 1.750rem;
    line-height: 1.6;
    color: rgb(103,119,136);
}
.button-icon{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:150px;
}

.footer-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;
    align-items: center;
}


.foot-menu {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 20px; /* Company, Documentation ve Purchase now arasýnda boþluk býrakýr */
    margin-left: auto;
}

.footer-content {
    text-align: center;
    margin-top: 20px; /* Menü ile footer-content arasýnda boþluk */
    color: rgb(103,119,136);
    line-height: 1.57; /*satýrlar arasý boþluk ayarlar*/
    font-size: 1.25rem;
}
