@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.settings-navbar {
    background-color: dodgerblue;
    padding-top: 80px;
    padding-bottom: 80px;
}
.settings-title {
    font-size: 2.75rem;
    color: rgb(255,255,255);
    line-height: 1.235;
    margin-left: 6.5em;
    margin-bottom: 15px;
}
.security-menu{
    display:flex;
    gap:5em;
}
.settings-text {
    font-size: 1.75rem;
    color: rgb(255,255,255);
    margin-left: 10em;
}
.security-list{
    display:flex;
    flex-direction:column;/*liste elemanlarýný bu þekilde alt alta getirdi*/
    margin-left:15em;
    margin-top:-30px;
    background-color:white;
    border-radius:10px;
}
.a-setting {
    margin: 0px;
    font-family: 'Lato',sans-serif;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:rgb(103,119,136);
    margin-top:2em;
}
.btn1 {
    width: 150px;
    height: 50px;
    background-color:white;
    color:dodgerblue;
    border: solid 1px dodgerblue;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 40px;
    margin-top:2em;
    margin-left:auto;
}

.btn1:hover {
  background-color: white;
}
.security-right {
    background-color: white;
    margin-top: -30px;
    border-radius: 10px;
}
.sec-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45em; /*Change your password baþlýðý ile Log out butonu arasýndaki mesafeyi ayarladý*/
}
.sec-title {
    margin-top: 1em;
    margin-left:10px;
}
.sec-form {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.form-title{
    margin:0px,0px,16px;
    font-family:'Lato',sans-serif;
    font-size:1.20rem;
    line-height:1.57;
}
.form-box {
    width: 100%;
    height:60px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.form-box:hover {
    border-color: dodgerblue;
    background-color: #fff;
}
.sec-check {
    display: flex;
    gap: 10px;/*checkbox ile Public Profile arasýndaki mesafeyi ayarladý*/
    margin-top:40px;
}
.checking{
    position:relative;
    width:80px;
    height:30px;
    -webkit-appearance:none;
    background:#c6c6c6;
    outline:none;
    border-radius:20px;
    box-shadow:inset 0 0 5px rgba(0,0,0,.2);
}
.checking:checked{
    background-color:dodgerblue;
}
.checking:before{
    content:'';
    position:absolute;
    width:40px;
    height:30px;
    top:0;
    left:0;
    background:#fff;/*hareket eden yuvaralaðýn rengi*/
    transform:scale(1.1);
    box-shadow:0 2px 5px rgba(0,0,0,.2);/*gölgeyi biraz daha belirgin yaptým*/
    transition: .5s;
    border-radius:20px;/*hareket eden yuvarlaðý yuvarlak yaptým 20px*/
}
.checking:checked:before{
    left:40px;/*checki saða kaydýrdýðýmda sol mavi olacak ve sola kaydýrdýðýmda sað gri kalacak*/
}
.secSetting {
    display: flex;
    gap: 33em; /*checkbox ile Public Profile arasýndaki mesafeyi ayarladý*/
    margin-top: 40px;
    color:rgba(30,32,34);
}
.btn {
    width: 150px;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
.btn:hover {
        background-color: dodgerblue;
}